<table id="responses-table">
  <tr>
    <th>From</th>
    <th class="body-column">Message</th>
    <th>Sent at</th>
    <th></th>
  </tr>
  <% @responses.each do |r| %>
    <tr>
      <td><%= r[:from] %></td>
      <td class="body-column"><%= r[:body] %></td>
      <td><%= r[:sent] %></td>
      <td><%= link_to "Reply", new_blast_path(to: r[:from]) %></td>
    </tr>
  <% end %>
</table>